@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>Student Developer:</strong> @ViewData["Student"]</p>
<address>For more information:</address><a href="https://www.linkedin.com/in/thaiscristine-soliveira/">LinkedIn</a>